<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>hi</title>
</head>
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary ps-2">
            <a class="navbar-brand">Spotify App</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="weather">home</a>
                </div>
            </div>
            <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="profile picture" class="image" width="110" height="110"> 
        </nav> 
    </header>

    <div id="Dashboard">Welcome, Miles!</div>

    {% if song_info %}
      <div class="border">
        <p><strong>Now Playing:</strong> {{ song_info.song }} by {{ song_info.artist }}</p>
        <p><strong>Album:</strong> {{ song_info.album }}</p>
        <img src="{{ song_info.cover_url }}" alt="Album Cover" style="width:200px;">
      </div>
    {% else %}
      <div class="border">
        <p>No song is currently playing.</p>
      </div>
    {% endif %}
    
    <div class="container mt-5">
        <h2 class="text-center mb-4">Your Top Songs</h2>
        <div class="d-flex justify-content-center flex-wrap gap-4">
            {% for track in top_tracks %}
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ track.id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {% endfor %}
        </div>
    </div>

    <div class="jumbotron mt-3 container rounded">
        <h1 class="display-3 text-center">Music for Current Weather</h1>
    </div>

    <div class="d-flex justify-content-center">
        <iframe src="{{ weather_playlist_url }}" width="500" height="500" frameborder="0"></iframe>
    </div>
    <div class="d-flex justify-content-center">
        <iframe src="{{ monthly_playlist_url }}" width="500" height="500" frameborder="0"></iframe>
    </div>
  
  
</body>
</html>
