<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Login</title>
</head>
<body>

<div class="container">  <!-- Wrapper for form -->
    <h2 class="word">Login</h2>
    <form action="/login" method="post">
        <div>Welcome to spotify</div>

        <input class="textbox" type="text" name="username" placeholder="Enter Username" required>
        <input class="textbox" type="password" name="password" placeholder="Enter Password" required>
        <button class="btn" type="submit">Login</button>

        <div>
            <a href="/register" class="btn">Don't have an Account?</a>
        </div>
    </form>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</div>

</body>
</html>